vue-ui/node_modules
vue-ui/.DS_Store
vue-ui//dist


# local env files
vue-ui/.env.local
vue-ui/.env.*.local

# Log files
vue-ui/npm-debug.log*
vue-ui/yarn-debug.log*
vue-ui/yarn-error.log*
vue-ui/pnpm-debug.log*

# Editor directories and files
vue-ui/.idea
vue-ui/.vscode
vue-ui/*.suo
vue-ui/*.ntvs*
vue-ui/*.njsproj
vue-ui/*.sln
vue-ui/*.sw?

backend/node_modules